*{
    font-family: 'Manrope',sans-serif;
    margin: 0; 
    font-weight: 200;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #d6d7db;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    background-color: rgb(230, 232, 241);
    height: 80vh;
    width: 133vh;
    border-radius: 20px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.307);
}

/* left-side container */
.left-side{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    background-color:white;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.129);
}
.search-container{
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;   
    justify-content: center;
    gap: 13px;
}
.search-container label{
    font-size: 1.5em;
    font-weight: 400;
}
#inputLocation{
    font-size: 1.2em;
    width: 59%;
    padding: 4px 11px;
    background-color: none;
    border: none;
    border-bottom: 2px solid black;
}
#inputLocation::placeholder{
    color: rgb(60, 60, 60);
}
#inputLocation:focus{
    outline: none;
}
.icon-city-container{
    display: flex;
    height: 32vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 9%;
}
.icon-city-container h1{
    font-weight: 600;
    margin-top: 19px;
    padding: 4px 11px;
    text-align: center;
}
.icon-city-container p{
    width: 74%;
    font-size: 1.3em;
}
.icon-container{
    height: 17vh;
    width: 17vh;
    border: 1px solid black;
}
.icon-container img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}


.information-container{
    height: 29vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.information-container h1{
    display: inline;
    margin: 0;
    font-weight: 700;
    font-size: 7.6em;
}
.information-container h2{
    display: inline;
    margin: 0;
    font-size: 2em;
}
.right-side{
    display: flex;
    height: 100%;
    width: 70%;
}